body {
  background-color: #bbb;
}

.container {
  text-align: center;
}

.header-content {
  display: flex;
  z-index: initial;
  width: 100%;
  height: 100px;
  padding: 0.5rem;
  text-align: left;
}

.header-content h1.cursive {
  font-family: "Rock Salt", cursive;
  font-size: 2em;
  color: #6434eb;
  margin-bottom: 0;
}

.header-content h2.seventies {
  font-family: "Bowlby One SC", cursive;
  font-size: 1.5em;
  color: #150461;
  position: relative;
  top: 0;
  margin: 0 0 0 12px;
}

.header-content h1.cursive a,
.header-content h2.seventies a {
  text-decoration: none;
}

@media only screen and (min-width: 700px) {
  .video {
    width: 720px;
    height: 405px;
  }
}

.shows {
  text-decoration: none;
  color: #150461;
  font-size: 1rem;
}

@media only screen and (max-width: 699px) {
  .narrow {
    width: 20%;
  }
}

.wide {
  flex: 1;
}

.flexbox {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.video {
  margin: 10px auto;
}
