/* Core Essential */

.aligncenter,div.aligncenter {display:block; margin-left:auto; margin-right:auto;}
.alignleft {float:left;}
.alignright {float:right;}
.wp-caption {border:1px solid #ddd; text-align:center; background-color:#f3f3f3; padding-top:4px; margin:10px; -moz-border-radius:3px; -webkit-border-radius:3px;}
.wp-caption img {margin:0; padding:0; border:0 none;}
.wp-caption p.wp-caption-text {font-size:11px; line-height:17px; padding:0 4px 5px; margin:0;}

/* Pagination */

div.pagination {padding: 0 15px 15px; margin-top: 5px;}

/* Post Style */

div.blog div.main-content div.photo span.readon1-r a:hover {text-decoration: none;}

/* Page */

.edit-me {margin: 10px 0;}
.custom-page .pagination-name {font-size: 110%;}
.custom-page .pagination-numbers {font-size: 140%; font-weight: bold;}

.tweetmeme {float: left; margin-right: 10px; margin-bottom: 5px;}

/* Single */

.single-post div.entry_post_footer {margin: 0 0 15px;}
.tag-box {margin:0;overflow:hidden;background: url(../images/typo/list-divider.png) 0 100% repeat-x;padding: 6px 10px;margin: 10px 0;}
.tag-box span {font-style: italic;}

/* Search */

.search-excerpt {background: yellow;}

/* Sidebars */

#rightcol ul.menu ul.children, #leftcol ul.menu ul.children {margin:0; padding:5px 0 10px;}
#rightcol ul.menu ul.children li, #leftcol ul.menu ul.children li {padding-left:20px;}

/* Footer */

#footer .demo-footer-block .widget {margin-bottom: 15px;}
#footer .demo-footer-block ul {list-style-type: none; padding-left: 0 !important; margin-top: 10px;}

#footer ul.bullet-1 li {background-position: 5px 1px !important;}
#footer ul.bullet-2 li {background-position: 0px 5px !important;}
#footer ul.bullet-3 li {background-position: 0px 5px !important;}
#footer ul.bullet-4 li {background-position: 0px 5px !important;}
#footer ul.bullet-5 li {background-position: 0px 3px !important;}
#footer ul.bullet-6 li {background-position: 0px 3px !important;}
#footer ul.bullet-7 li {background-position: 0px 3px !important;}
#footer ul.bullet-8 li {background-position: 0px 1px !important;}
#footer ul.bullet-9 li {background-position: 0px 1px !important;}

/* Comments */

.comment-author-admin {color: #333333;}
.comment-author-admin a {color: #333333;}
.bypostauthor {color: #1C6B8B;}
.bypostauthor a {color: #1C6B8B;}

ol.commentlist {list-style-type: none; padding: 10px 10px 5px; overflow: hidden;}
ol.commentlist div.comment-div-wrapper {margin-bottom: 10px; padding: 0 0 10px; background: url(../images/typo/list-divider.png) 0 100% repeat-x;}
ol.commentlist div.comment-div-wrapper p, ol.commentlist div.comment-div-wrapper div.reply {padding-left: 5px;}

ol.commentlist {border: 1px solid #E6E6E6;}
ol.commentlist li {margin: 0 0 5px;}

ol.commentlist .comment-author {overflow: hidden;}
ol.commentlist .comment_gravatar_wrapper {float: left;}
ol.commentlist .comment-meta {background: #F7F7F7;}
ol.commentlist .comment-meta .fn {margin-left: 10px; margin-right: 10px; float: left; font-weight: bold;}
ol.commentlist .comment-meta .comment-meta-time a {line-height: inherit; text-decoration: none;}

ol.children {list-style-type: none; overflow: hidden;}

/* Write Comment */

#commentform {margin-bottom: 10px;}
#commentform textarea {font-family:Helvetica,Arial,sans-serif; font-size:13px; height:120px; margin:0; padding:5px; width:98%;border: 1px solid #E6E6E6;}
#commentform #author, #commentform #email, #commentform #url {padding: 7px 5px; width:98%; font-family:Helvetica,Arial,sans-serif; font-size:13px;border: 1px solid #E6E6E6;}
#commentform .readon-wrap1 input.button {background: none; border: none;}
#commentform .readon-wrap1 {margin-bottom: 10px;}

/* Default Widgets */

#leftcol .widget ul, #rightcol .widget ul, #inset-block-left .widget ul {margin: 0; padding: 0; list-style: none;}
#leftcol .widget ul li a, #rightcol .widget ul li a {padding:9px 20px; display: block; font-size: 120%; overflow: hidden; text-indent:0; font-weight: normal;}
#leftcol .widget ul li a:hover, #rightcol .widget ul li a:hover, #inset-block-left .widget ul li a:hover {text-decoration: none;}
#leftcol .widget ul li ul, #rightcol .widget ul li ul {margin:0; padding:5px 0 10px;}
#leftcol .widget ul li ul li, #rightcol .widget ul li ul li {padding-left:20px;}
#leftcol .widget ul ul li, #rightcol .widget ul ul li {border-bottom: none !important;}

#rightcol .widget .hilite2 ul li:hover > a, #leftcol .widget .hilite2 ul li:hover > a {color: inherit;}

#inset-block-left .widget ul li a {background: none !important;}
#inset-block-left .widget ul li a:hover {color: #fff;}

#footer .widget ul ul {margin-top: 0;}

/* Widget Calendar */

.widget_calendar #wp-calendar {width: 80%; margin: 0 auto;}
.widget_calendar #wp-calendar caption {font-weight: bold; margin-bottom: 5px; font-size: 120%;}

#footer .widget_calendar #calendar_wrap {width: 90%;}
#footer .widget_calendar #wp-calendar {width: 80%; margin: 0 auto;}

/* Recent Comments */

.widget_recent_comments ul#recentcomments li a {font-size: 100%; background: none !important; margin-bottom: 5px;}
.widget_recent_comments ul#recentcomments li {padding:5px 0 5px 10px; font-size: 100%;}

#inset-block-left .widget_recent_comments ul#recentcomments li {padding: 5px 0;}

#footer .widget_recent_comments ul#recentcomments li {padding: 0;}